---
import DefaultLayout from './DefaultLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import { site } from '../data/site';

interface Props {
  title?: string;
  description?: string;
  headerTitle: string;
  siteTitle?: string;
  ogType?: string;
}

const { title, description, headerTitle, siteTitle = site.title, ogType } = Astro.props;
---

<DefaultLayout title={title} description={description} ogType={ogType}>
  <div class="container">
    <PageHeader title={headerTitle} siteTitle={siteTitle} />
    <slot />
  </div>
</DefaultLayout>

<style>
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 50rem;
    padding: 0 var(--space-md) var(--space-lg);
    display: flex;
    flex-direction: column;
    flex: 1;
  }
</style>
